.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.video-responsive iframe {
  left: 0;
  top: 0;
  height: 90%;
  width: 90%;
  position: absolute;
}

.vidio {
  width: 100%;
}
