<!doctype html>
<html>
<style>
form {
    margin: auto;
    width: 35%;
}

.result {
    margin: auto;
    width: 35%;
    border: 1px solid #ccc;
}
</style>

<head>
    <title>Bike Usage Model</title>
</head>
<form action="{{ url_for('main') }}" method="POST">
    <fieldset>
        <legend>Input values:</legend>
        Temperature:
        <input name="temperature" type="number" required>
        <br>
        <br> Humidity:
        <input name="humidity" type="number" required>
        <br>
        <br> Windspeed:
        <input name="windspeed" type="number" required>
        <br>
        <br>
        <input type="submit">
    </fieldset>
</form>
<br>
<div class="result" align="center">
    {% if result %}
    	{% for variable, value in original_input.items() %}
    		<b>{{ variable }}</b> : {{ value }}
    	{% endfor %}
		<br>
    	<br> Predicted number of bikes in use:
   		<p style="font-size:50px">{{ result }}</p>
    {% endif %}
</div>

</html>